# Секретный ключ Django
SECRET_KEY=django-insecure-your-actual-secret-key-here

# Режим отладки (True для локальной разработки)
DEBUG=True

# Строка подключения к PostgreSQL (формат: postgres://пользователь:пароль@хост:порт/имя_базы)
DATABASE_URL=postgres://пользователь:пароль@хост:порт/имя_базы)
