# Секретные настройки Django
SECRET_KEY=django-insecure-your-actual-secret-key-here
DEBUG=False
ALLOWED_HOSTS=

# Доверенные адреса для защиты CSRF (без пробелов, через запятую)
CSRF_TRUSTED_ORIGINS=

# Настройки PostgreSQL для контейнера 'db'
POSTGRES_DB=crm_db
POSTGRES_USER=crm_user
POSTGRES_PASSWORD=crm_password

# Сквозные URL-строки подключения для Django (смотрим на имена сервисов db и redis!)
DATABASE_URL=postgres://crm_user:crm_password@db:5432/crm_db
REDIS_URL=redis://redis:6379/1

# Настройки Grafana
GF_SECURITY_ADMIN_PASSWORD=password
